.terraform
.idea
.DS_Store
.env*
!.env.template
.last_used_env
.tfplan.*
*.tfvars
terraform.tfstate
terraform.tfstate.backup
**/.tfplan.*
tests/
.air
go.work.sum
.infisical.json
.vscode/mise-tools
.claude
.cursor
.devcontainer
.github
.omc
.venv
.vscode
docs/
test/*
.omc/
packages/common
*.omc
test/